* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 13px;
	font-family: sans-serif;
}
ul#root {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-left: 20px;
}
ul#root > li {
	margin-right: 20px;
}
h3 {
	margin-top: 15px;
	font-size: 18px;
}
ul {
	list-style: none;
	padding: 10px 0 10px 6px;
}
li {
	margin-bottom: 4px;
}
a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 3px;
	line-height: 22px;
}
a:hover {
	background: #eee;
}
a > img {
	margin-right: 4px;
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}
