* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 13px;
	font-family: sans-serif;
}
ul#root {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 20px;
}
ul#root > li {
	margin-right: 20px;
}
ul#root h3 {
	margin-top: 15px;
	font-size: 18px;
}
ul {
	list-style: none;
	padding: 10px 0 10px 6px;
}
ul#root li {
	margin-bottom: 4px;
}
ul#root a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 3px;
	line-height: 22px;
}
ul#root a:hover {
	background: #eee;
}
ul#root a > img {
	margin-right: 4px;
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}
a#toggle {
	color: #aaa;
	font-size: 10px;
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
}
a#toggel:hover {
	color: #222;
}